<!--=================== Countdown Timer Product ===================-->
{% if separate_countdown == blank %}
{% assign separate_countdown = 'all' %}
{% endif %}
{% assign s = 0 %}
{% for g in product.tags %}
{% assign w = g | split: '-' %}
{% assign d = w[1] | split: '.' %}
{% if w[0] == 'countdown' %}
{% if d.size > 0 %}
{% if s == 0 %}
<ul id="countdown-{{separate_countdown}}-{{ product.variants.first.id }}-{{ section.id }}-{{ block.id }}" class="list-inline paira-countdown countdown" data-day="{{d[0]}}" data-month="{{d[1]}}" data-year="{{d[2]}}" data-hour="{{d[3]}}" data-min="{{d[4]}}">
    {% if settings.days_enable %}
    <li class="dash days_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">D</span>
    </li>
    {% endif %}
    <li class="dash hours_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">H</span>
    </li>
    <li class="dash minutes_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">M</span>
    </li>
    <li class="dash seconds_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">S</span>
    </li>
</ul>
<script type="text/javascript">
    $(function() {
        $('#countdown-{{separate_countdown}}-{{ product.variants.first.id }}-{{ section.id }}-{{ block.id }}').countDown({
            targetDate: {
                'day': {{d[0]}},
        'month': {{d[1]}},
        'year': {{d[2]}},
        'hour': {{d[3]}},
        'min': 0,
                'sec': 0
    },onComplete: function() { $('#countdown-{{separate_countdown}}-{{ product.variants.first.id }}-{{ section.id }}-{{ block.id }}').hide(); }
    });
    });
</script>
{% assign s = 1 %}
{% endif %}
{% else %}
<ul id="countdown-{{separate_countdown}}-{{ product.variants.first.id }}-{{ section.id }}-{{ block.id }}" class="countdown paira-countdown list-inline" data-day="{{settings.countdown_day}}" data-month="{{settings.countdown_month}}" data-year="{{settings.countdown_year}}" data-hour="{{settings.countdown_hour}}" data-min="{{settings.countdown_second}}">
    {% if settings.days_enable %}
    <li class="dash days_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">D</span>
    </li>
    {% endif %}
    <li class="dash hours_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">H</span>
    </li>
    <li class="dash minutes_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">M</span>
    </li>
    <li class="dash seconds_dash">
        <div class="digit">0</div>
        <div class="digit">0</div>
        <span class="dash_title">S</span>
    </li>
</ul>
<script type="text/javascript">
    $(function() {
        $('#countdown-{{separate_countdown}}-{{ product.variants.first.id }}-{{ section.id }}-{{ block.id }}').countDown({
            targetDate: {
                'day': 		{{settings.countdown_day}},
        'month': 	{{settings.countdown_month}},
        'year': 	{{settings.countdown_year}},
        'hour': 	{{settings.countdown_hour}},
        'min': 		{{settings.countdown_minute}},
        'sec': 		{{settings.countdown_second}}
    },onComplete: function() { $('#countdown-{{separate_countdown}}-{{ product.variants.first.id }}-{{ section.id }}-{{ block.id }}').hide(); }
    });
    });
</script>
{% endif %}
{% endif %}
{% endfor %}
