<!--=================== Reset Password Template ===================-->
<main class="reset-password-page {% if section.settings.header_top_check == blank and section.settings.welcome_message_notify_check == blank %}paira-sticky-root{% endif %}">
    <section class="reset-password-content paira-gap-3 paira-gap-2">
        <div class="container-fluid padding-fixed">
        <div class="row margin-clear page-back">
                <div class="col-md-12 text-center">
                    <h1 class="page-header margin-bottom-40">{{ 'customer.recover_password.title' | t }}</h1>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <div class="login-back">
                        {% form 'reset_customer_password' %}
                        {{ form.errors | default_errors }}
                        <label>{{ 'customer.reset_password.password' | t }}</label>
                        <input type="password" value="" name="customer[password]" id="customer_password" class="form-control margin-bottom-10" size="16" />
                        <label>{{ 'customer.reset_password.password_confirm' | t }}</label>
                        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="form-control margin-bottom-10" size="16" />
                        <input class="btn btn-default btn-default btn-lg" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>