<header data-section-id="{{ section.id }}" data-section-type="header-section" class="{{ section.id }}">
    {% if section.settings.welcome_message_notify_check %}
    <div class="background-color top-nav-bar" style="background: {{ section.settings.geo_text_bg }};padding: 16px 0;">
        <div class="container-fluid padding-fixed ">
            {% if section.settings.header_social_share %}
            <div class="col-md-3 padding-clear header-social">
                <ul class="list-inline margin-clear">
                    {% if settings.facebook_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.facebook_link }}" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.twitter_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.twitter_link }}" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.gplus_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.gplus_link }}" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.rss_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.rss_link }}" target="_blank">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.pinterest_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.pinterest_link }}" target="_blank">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.instagram_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.instagram_link }}" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.linkedin_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.linkedin_link }}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.vimeo_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.vimeo_link }}" target="_blank">
                            <i class="fa fa-vimeo-square"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.dribbble_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.dribbble_link }}" target="_blank">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.youtube_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.youtube_link }}" target="_blank">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.flickr_header %}
                    <li class="margin-bottom-0">
                        <a href="{{ settings.flickr_link }}" target="_blank">
                            <i class="fa fa-flickr"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if settings.email_header %}
                    <li class="margin-bottom-0">
                        <a href="mailto:{{ section.settings.email_link }}" target="_blank">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <div class="col-md-12 col-sm-12 text-center">
                <div class="margin-clear geo-text hidden-xs" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ section.settings.geo_text }} <span class="paira-country-flag flag" style="display: none;"></span> <span class="paira-geo-country"></span></div>
                <marquee behavior="scroll" direction="left" class="margin-clear geo-text pull-left hidden-lg hidden-md hidden-sm" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ section.settings.geo_text }} <span class="paira-country-flag flag" style="display: none;"></span> <span class="paira-geo-country"></span></marquee>
            </div>
            {% if section.settings.language_check %}
            <div class="compare-cart-wishs text-right col-md-3 col-sm-2 padding-clear">
                <div id="google_translate_element"></div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if section.settings.header_top_check %}
    <!--=================== Header Top Section ===================-->
    <div class="header-top" style="background: {{ section.settings.header_top_bg }}">
        <div class="container-fluid padding-fixed">
            <div class="row">
               
                {% if section.settings.search %}


   <nav class="navbar navbar-default paira-mega-menu mega-menu mobile_megamenu">
                        <div class="navbar-header">
                            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle">
                                <svg version="1.0" id="menu-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="34px" height="22px" viewBox="0 0 1060.926 680.602" enable-background="new 0 0 1060.926 680.602"
                                     xml:space="preserve">
                                <g>
                                    <path d="M40.087,80.049h980.878c22.095,0,39.961-17.891,39.961-39.962c0-22.095-17.866-40.087-39.961-40.087H40.087
                                        C17.991,0,0,17.991,0,40.087C0,62.157,17.991,80.049,40.087,80.049L40.087,80.049z M40.087,80.049"/>
                                    <path d="M40.087,380.325h980.878c22.095,0,39.961-17.891,39.961-39.962c0-22.095-17.866-40.087-39.961-40.087
                                        H40.087C17.991,300.276,0,318.268,0,340.363C0,362.434,17.991,380.325,40.087,380.325L40.087,380.325z M40.087,380.325"/>
                                    <path d="M40.087,680.602h980.878c22.095,0,39.961-17.891,39.961-39.962c0-22.095-17.866-40.087-39.961-40.087
                                        H40.087C17.991,600.553,0,618.544,0,640.64C0,662.71,17.991,680.602,40.087,680.602L40.087,680.602z M40.087,680.602"/>
                                </g>
                                </svg>
                            </button>
                        </div>
                        <div class="navbar-background"></div>
                        <div id="navbar-collapse" class="navbar-collapse collapse side-collapse pull-left">
                            <div class="mobile-logo visible-sm visible-xs">
                                <div class="padding-left-15 padding-right-15 opacity-mobile">
                                    <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle close-menu">
                                        <i class="fa fa-times"></i> Close
                                    </button>
                                </div>
                            </div>
                            <ul class="nav navbar-nav">
                              <!-- Menu change from here -->
                               {% for link in linklists.menu-by-alam.links %}	
                                {% for block in section.blocks %}
                                {% if section.settings.megamenu_check and link.title == block.settings.megamenu_name %}
                                <li class="{% if link.active %}active{% endif %} dropdown paira-dropdown mega-menu-fw {% if link.title == section.settings.megamenu_new %}icon_new{% endif %} {% if link.title == section.settings.megamenu_sale %}icon_sale{% endif %} {% if link.title == section.settings.megamenu_trade %}icon_trade{% endif %}">
                                    <a href="{{ link.url }}">{{ link.title }} <i class="paira-angle-down angle-down fa fa-angle-down"></i></a>
                                    <!--=================== Grid Mega Menu ===================-->
                                    <ul class="dropdown-menu paira-dropdown-menu list-unstyled {% if block.type == "banner_product" %}style-3{% endif %} {% if block.type == 'menu' %}style-1{% endif %} {% if block.type == "product_sing" %}style-2{% endif %}">
                                <li class="mega-menu-grid">
                                    {% if block.type == 'menu' %}
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding-clear margin-top-30">
                                        {% if block.settings.megamenu_colum_1_check %}
                                        <div class="col-md-3 col-sm-6 col-xs-6 margin-bottom-15">
                                            {% if block.settings.megamenu_colum_1 != blank %}
                                            {% assign menu_1 = linklists[block.settings.megamenu_colum_1] %}
                                            <h5 class="popover-title margin-bottom-10 margin-top-0 padding-top-0">{{ linklists[block.settings.megamenu_colum_1].title }}</h5>
                                            <ul class="list-unstyled">
                                                {% for mega_menu_1 in menu_1.links %}
                                                <li class="margin-bottom-10"><a href="{{ mega_menu_1.url }}">{{mega_menu_1.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <p class="margin-top-0">Please select navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if block.settings.megamenu_colum_2_check %}
                                        <div class="col-md-3 col-sm-6 col-xs-6 margin-bottom-15">
                                            {% if block.settings.megamenu_colum_2 != blank %}
                                            {% assign menu_2 = linklists[block.settings.megamenu_colum_2] %}
                                            <h5 class="popover-title margin-bottom-10 margin-top-0 padding-top-0">{{ linklists[block.settings.megamenu_colum_2].title }}</h5>
                                            <ul class="list-unstyled">
                                                {% for mega_menu_2 in menu_2.links %}
                                                <li class="margin-bottom-10"><a href="{{ mega_menu_2.url }}">{{mega_menu_2.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <p class="margin-top-0">Please select navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if block.settings.megamenu_colum_3_check %}
                                        <div class="col-md-3 col-sm-6 col-xs-6 margin-bottom-15">
                                            {% if block.settings.megamenu_colum_3 != blank %}
                                            {% assign menu_3 = linklists[block.settings.megamenu_colum_3] %}
                                            <h5 class="popover-title margin-bottom-10 margin-top-0 padding-top-0">{{ linklists[block.settings.megamenu_colum_3].title }}</h5>
                                            <ul class="list-unstyled">
                                                {% for mega_menu_3 in menu_3.links %}
                                                <li class="margin-bottom-10"><a href="{{ mega_menu_3.url }}">{{mega_menu_3.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <p class="margin-top-0">Please select navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if block.settings.megamenu_colum_4_check %}
                                        <div class="col-md-3 col-sm-6 col-xs-6 margin-bottom-15">
                                            {% if block.settings.megamenu_colum_4 != blank %}
                                            {% assign menu_4 = linklists[block.settings.megamenu_colum_4] %}
                                            <h5 class="popover-title margin-bottom-10 margin-top-0 padding-top-0">{{ linklists[block.settings.megamenu_colum_4].title }}</h5>
                                            <ul class="list-unstyled">
                                                {% for mega_menu_4 in menu_4.links %}
                                                <li class="margin-bottom-10"><a href="{{ mega_menu_4.url }}">{{mega_menu_4.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <p class="margin-top-0">Please select navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if block.settings.meg_imff_check %}
                                        <div class="col-md-6 col-sm-6 col-xs-6 margin-bottom-15">
                                            <a href="{{ block.settings.meg_im_link_11 }}">
                                                {% if block.settings.meg_im_11 == blank %}
                                                {{ 'lifestyle-1' | append: current | placeholder_svg_tag: 'placeholder-svg height-100' }}
                                                {% else %}
                                                <img class="pull-right img-responsive lazyload blur-up" src="{{ block.settings.meg_im_11 | img_url: 'compact' }}" data-srcset="{% if block.settings.meg_im_11 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_11 | img_url: 'compact' }}{% endif %} 160w, {% if block.settings.meg_im_11 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_11 | img_url: 'medium' }}{% endif %} 240w, {% if block.settings.meg_im_11 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_11 | img_url: 'original' }}{% endif %} 480w" data-src="{% if block.settings.meg_im_11 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_11 | img_url: 'original' }}{% endif %}" data-sizes="auto" alt="{{ shop.name }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if block.settings.meg_imff_check_1 %}
                                        <div class="col-md-6 col-sm-6 col-xs-6 margin-bottom-15">
                                            <a href="{{ block.settings.meg_im_link_12 }}">
                                                {% if block.settings.meg_im_12 == blank %}
                                                {{ 'lifestyle-1' | append: current | placeholder_svg_tag: 'placeholder-svg height-100' }}
                                                {% else %}
                                                <img class="pull-right img-responsive lazyload blur-up" src="{{ block.settings.meg_im_12 | img_url: 'compact' }}" data-srcset="{% if block.settings.meg_im_12 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_12 | img_url: 'compact' }}{% endif %} 160w, {% if block.settings.meg_im_12 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_12 | img_url: 'medium' }}{% endif %} 240w, {% if block.settings.meg_im_12 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_12 | img_url: 'original' }}{% endif %} 480w" data-src="{% if block.settings.meg_im_12 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_12 | img_url: 'original' }}{% endif %}" data-sizes="auto" alt="{{ shop.name }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% elsif block.type == "product_sing" %}
                                    {% if block.settings.megamenu_info_check %}
                                    <div class="col-md-3 col-sm-12 col-xs-12  text-center sale-offer">
                                        <h4>{{block.settings.megamenu_info}}</h4>
                                        {{block.settings.megamenu_para}}
                                        <a href="{{block.settings.megamenu_info_btn_url}}" class="btn">{{block.settings.megamenu_info_btn}}</a>
                                    </div>
                                    {% endif %}
                                    {% if block.settings.meg_im_check %}
                                    <div class="col-md-3 col-sm-12 col-xs-12 padding-clear glass-image">
                                        <a href="{{ block.settings.meg_im_link }}">
                                            {% if block.settings.meg_im == blank %}
                                            {{ 'lifestyle-1' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% else %}
                                            <img class="pull-right img-responsive lazyload blur-up" src="{{ block.settings.meg_im | img_url: 'compact' }}" data-srcset="{% if block.settings.meg_im == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im | img_url: 'compact' }}{% endif %} 160w, {% if block.settings.meg_im == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im | img_url: 'medium' }}{% endif %} 240w, {% if block.settings.meg_im == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im | img_url: 'original' }}{% endif %} 480w" data-src="{% if block.settings.meg_im == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im | img_url: 'original' }}{% endif %}" data-sizes="auto" alt="{{ shop.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% if block.settings.megamenu_info_2_check %}
                                    <div class="col-md-3 col-sm-12 col-xs-12 text-center sale-offer">
                                        <h4>{{block.settings.megamenu_info_2}}</h4>
                                        {{block.settings.megamenu_para_2}}
                                        <a href="{{block.settings.megamenu_info_btn_url_2}}" class="btn">{{block.settings.megamenu_info_btn_2}}</a>
                                    </div>
                                    {% endif %}
                                    {% if block.settings.meg_im_check_2 %}
                                    <div class="col-md-3 col-sm-12 col-xs-12 padding-clear glass-image">
                                        <a href="{{ block.settings.meg_im_link_22 }}">
                                            {% if block.settings.meg_im_22 == blank %}
                                            {{ 'lifestyle-1' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% else %}
                                            <img class="pull-right img-responsive lazyload blur-up" src="{{ block.settings.meg_im_22 | img_url: 'compact' }}" data-srcset="{% if block.settings.meg_im_22 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_22 | img_url: 'compact' }}{% endif %} 160w, {% if block.settings.meg_im_22 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_22 | img_url: 'medium' }}{% endif %} 240w, {% if block.settings.meg_im_22 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_22 | img_url: 'original' }}{% endif %} 480w" data-src="{% if block.settings.meg_im_22 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_22 | img_url: 'original' }}{% endif %}" data-sizes="auto" alt="{{ shop.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% elsif block.type == "banner_product" %}
                                    <div class="{% if block.settings.meg_im_2_check == blank %}col-lg-12{% else %} col-lg-6 {% endif %}col-md-6 col-sm-12 col-xs-12 padding-clear padding-right-15">
                                        {% if block.settings.megamenu_colum_10_check %}
                                        <div class="col-md-4 col-sm-6 col-xs-6 margin-bottom-30 mar-to-sm-10">
                                            {% if block.settings.megamenu_colum_10 != blank %}
                                            {% assign menu_10 = linklists[block.settings.megamenu_colum_10] %}
                                            <h5 class="popover-title margin-bottom-10 margin-top-30 padding-top-0">{{ linklists[block.settings.megamenu_colum_10].title }}</h5>
                                            <ul class="list-unstyled">
                                                {% for mega_menu_10 in menu_10.links %}
                                                <li class="margin-bottom-10"><a href="{{ mega_menu_10.url }}">{{mega_menu_10.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <p class="paira-gap-3 padding-left-15">Please select navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if block.settings.megamenu_colum_11_check %}
                                        <div class="col-md-4 col-sm-6 col-xs-6 margin-bottom-30 padding-right-0 mar-to-sm-10">
                                            {% if block.settings.megamenu_colum_11 != blank %}
                                            {% assign menu_11 = linklists[block.settings.megamenu_colum_11] %}
                                            <h5 class="popover-title margin-bottom-10 margin-top-30 padding-top-0">{{ linklists[block.settings.megamenu_colum_11].title }}</h5>
                                            <ul class="list-unstyled">
                                                {% for mega_menu_11 in menu_11.links %}
                                                <li class="margin-bottom-10"><a href="{{ mega_menu_11.url }}">{{mega_menu_11.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <p class="paira-gap-3 padding-left-15">Please select navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if block.settings.megamenu_colum_12_check %}
                                        <div class="col-md-4 col-sm-6 col-xs-6 margin-bottom-30 padding-right-0">
                                            {% if block.settings.megamenu_colum_12 != blank %}
                                            {% assign menu_12 = linklists[block.settings.megamenu_colum_12] %}
                                            <h5 class="popover-title margin-bottom-10 margin-top-30 padding-top-0">{{ linklists[block.settings.megamenu_colum_12].title }}</h5>
                                            <ul class="list-unstyled">
                                                {% for mega_menu_12 in menu_12.links %}
                                                <li class="margin-bottom-10"><a href="{{ mega_menu_12.url }}">{{mega_menu_12.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <p class="paira-gap-3 padding-left-15">Please select navigation from <a href="/admin/themes" class="text-muted">theme option</a></p>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if block.settings.meg_im_2_check %}
                                    <div class="{% if block.settings.megamenu_colum_10_check or block.settings.megamenu_colum_11_check or block.settings.megamenu_colum_12_check %}col-lg-6{% else %} col-lg-12{% endif %} col-sm-12 col-xs-12 padding-clear padding-left-15 col-md-6 image-padding-0">
                                        <a href="{{ block.settings.meg_im_link_2 }}">
                                            {% if block.settings.meg_im_2 == blank %}
                                            {{ 'lifestyle-1' | append: current | placeholder_svg_tag: 'placeholder-svg height-300' }}
                                            {% else %}
                                            <img class="pull-right img-responsive lazyload blur-up" src="{{ block.settings.meg_im_2 | img_url: 'compact' }}" data-srcset="{% if block.settings.meg_im_2 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_2 | img_url: 'compact' }}{% endif %} 160w, {% if block.settings.meg_im_2 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_2 | img_url: 'medium' }}{% endif %} 240w, {% if block.settings.meg_im_2 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_2 | img_url: 'original' }}{% endif %} 480w" data-src="{% if block.settings.meg_im_2 == blank %}{{ 'magamenu_img.jpg' | asset_url }}{% else %}{{ block.settings.meg_im_2 | img_url: 'original' }}{% endif %}" data-sizes="auto" alt="{{ shop.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </li>
                            </ul>
                            </li>
                            {% assign mega_menus = block.settings.megamenu_name %}
                            {% endif %}
                            {% endfor %}
                            {% if link.title != mega_menus %}
                            {% if linklists[link.handle] == empty %}
                            <li class="{% if link.active %}active{% endif %} {% if link.title == section.settings.megamenu_new %}icon_new{% endif %} {% if link.title == section.settings.megamenu_sale %}icon_sale{% endif %} {% if link.title == section.settings.megamenu_trade %}icon_trade{% endif %}">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                            {% else %}
                            <li class="dropdown paira-dropdown {% if link.active %}active{% endif %} {% if link.title == section.settings.megamenu_new %}icon_new{% endif %} {% if link.title == section.settings.megamenu_sale %}icon_sale{% endif %} {% if link.title == section.settings.megamenu_trade %}icon_trade{% endif %}">
                                <a href="{{ link.url }}">{{ link.title }}  <i class="paira-angle-down angle-down fa fa-angle-down"></i></a>
                                <ul role="menu" class="dropdown-menu paira-dropdown-menu list-unstyled">
                                    {% for l in linklists[link.handle].links %}
                                    {% if linklists[l.handle] == empty %}
                                    <li><a href="{{ l.url }}">{{ l.title }}</a></li>
                                    {% else %}
                                    <li class="dropdown-submenu">
                                        <a href="{{ l.url }}">{{ l.title }} <i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="dropdown-menu paira-dropdown-menu">
                                            {% for r in linklists[l.handle].links %}
                                            {% if linklists[r.handle] == empty %}
                                            <li><a href="{{ r.url }}">{{ r.title }}</a></li>
                                            {% else %}
                                            <li class="dropdown-submenu">
                                                <a href="{{ r.url }}">{{ r.title }} <i class="fa fa-angle-down"></i></a>
                                                <ul role="menu" class="dropdown-menu paira-dropdown-menu">
                                                    {% for u in linklists[r.handle].links %}
                                                    {% if linklists[u.handle] == empty %}
                                                    <li><a href="{{ u.url }}">{{ u.title }}</a></li>
                                                    {% else %}
                                                    <li class="dropdown-submenu">
                                                        <a href="{{ u.url }}">{{ u.title }} <i class="fa fa-angle-down"></i></a>
                                                        <ul role="menu" class="dropdown-menu paira-dropdown-menu">
                                                            {% for z in linklists[u.handle].links %}
                                                            <li><a href="{{ z.url }}">{{ z.title }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% if shop.customer_accounts_enabled %}
                            {% if section.settings.login %}
                            <li class="hidden-lg hidden-md hidden-sm">
                                {% if customer %}
                                <a href="/account/logout" id="customer_logout_link" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ 'header.account.logout' | t }}</a>
                                {% else %}
                                <a href="/account/login" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ 'header.account.login' | t }}</a>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% if section.settings.register %}
                            {% if customer %}
                            <li class="hidden-lg hidden-md hidden-sm"><a href="/account" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.nav_font }}px">{{ 'header.account.account' | t }}</a></li>
                            {% else %}
                            <li class="hidden-lg hidden-md hidden-sm"><a href="/account/register" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ 'header.account.register' | t }}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if settings.currencies %}
                            {% if section.settings.currencies %}
                            <li class="courenccy hidden-md hidden-lg hidden-sm hidden-lg hidden-md hidden-sm">
                                <div class="dropdown">
                                    <button class="btn btn-sm" data-toggle="dropdown" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.nav_font }}px;color: {{ section.settings.middle_header_text_color }}"><span class="paira-currency-symbol"><i class="fa fa-{{ settings.default_currency | downcase }}"></i></span> <span class="paira-currency-text">{{ settings.default_currency }}</span> <i class="angle-down fa fa-angle-down"></i></button>
                                    {% include 'currencies-switcher' %}
                                </div>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% if settings.compare %}
                            {% if section.settings.compare %}
                            <li class="hidden-lg hidden-md hidden-sm"><a href="{% if settings.compare_page == blank %}# {% else %}/pages/{{settings.compare_page}}{% endif %}" class="{% if settings.compare_page == blank %} paira-compare-null{% endif %}">{{ 'header.general.compare' | t }}</span><span class="compare"></span></a></li>
                            {% endif %}
                            {% endif %}
                            {% if settings.wishlist %}
                            {% if section.settings.wishlist %}
                            <li class="hidden-lg hidden-md hidden-sm">
                                <a href="{% if settings.wishlst_page == blank %}# {% else %}/pages/{{settings.wishlst_page}}{% endif %}" class="{% if settings.wishlst_page == blank %} paira-wish-null{% endif %}">{{ 'header.general.wishlist' | t }}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            </ul>
                        </div>
                        
                    </nav>


 {% if section.settings.site_logo %}
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="logo-text text-center">
                        {% if section.settings.select_header_logo == '1' %}
                        <a href="/">
                            <img src="{% if section.settings.logo == blank %}{{ 'logo.png' | asset_url }}{% else %}{{ section.settings.logo | img_url: 'master' }}{% endif %}" class="img-responsive"  alt="{{ shop.name }}">
                        </a>
                        {% else %}
                        <h2 class="margin-bottom-5 margin-top-5"><a href="/" style="color: {{ section.settings.logo_text_color }};">{{ section.settings.header_logo_text }}</a></h2>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                  <div class="mobiel_sell_btn_col">
                    <div class="compare-cart-wish compare-cart-wish-block pull-right">
                          <ul class="list-inline text-right margin-bottom-0">
                               <li>
                                  <a class="sell-tag"  href="#">SELL</a>
                                </li>
                            </ul>
                        </div>
                  </div>
                  
                <div class="col-md-5 col-sm-5 pl-0 d-block">
                    <div class="search-frm pull-left position-r margin-right-5 hidden-xs">
                        <!--=================== Search Form ===================-->
                        <form class="navbar-form" action="/search">
                            <div class="form-group">
                                <input type="text" name="q" class="form-control" autocomplete="off" id="instant-search" placeholder="{{ 'header.search.shopping_for' | t }}" value="{{ search.terms }}">
                                <input type="hidden" class="header-search-input" name="type" value="product">
                            </div>
                            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                        <div class="instant-search-data" style="display: none">
                            <ul class="list-unstyled dropdown-menu"></ul>
                            <img src="{{ 'search-loading.gif' | asset_url }}" alt="Loading image" class="search-loading" style="display: none">
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="col-md-5 col-sm-4 d-block">
                    <div class="pull-right hidden-xs">
                        <ul class="list-inline margin-clear pull-left log-usd-compare">
                            <li class="courenccy">
                                <div class="dropdown">
                                    <button class="btn btn-sm" data-toggle="dropdown"><span class="paira-currency-symbol symbols"><i class="fa fa-{{ settings.default_currency | downcase }}"></i></span> <span class="paira-currency-text">{{ settings.default_currency }}</span> <i class="angle-down fa fa-angle-down"></i></button>
                                    {% include 'currencies-switcher' %}
                                </div>
                            </li>
                            {% if section.settings.login != blank or section.settings.register != blank %}
                            {% if shop.customer_accounts_enabled %}
                            <li class="dropdown account-drop-ul compares">
                                <a href="#" class="account-drop">
                                  <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.1694 18.105C17.0703 18.0908 16.9428 18.0908 16.8294 18.105C14.3361 18.02 12.3528 15.98 12.3528 13.4725C12.3528 10.9083 14.4211 8.82581 16.9994 8.82581C19.5636 8.82581 21.6461 10.9083 21.6461 13.4725C21.6319 15.98 19.6628 18.02 17.1694 18.105Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M26.5483 27.455C24.0267 29.7642 20.6833 31.1667 17 31.1667C13.3167 31.1667 9.97333 29.7642 7.45166 27.455C7.59333 26.1233 8.44333 24.82 9.95916 23.8C13.8408 21.2217 20.1875 21.2217 24.0408 23.8C25.5567 24.82 26.4067 26.1233 26.5483 27.455Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M16.9999 31.1667C24.824 31.1667 31.1666 24.824 31.1666 17C31.1666 9.17597 24.824 2.83334 16.9999 2.83334C9.17588 2.83334 2.83325 9.17597 2.83325 17C2.83325 24.824 9.17588 31.1667 16.9999 31.1667Z" stroke="#111111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>                                  
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    {% if section.settings.login %}
                                    <li>
                                        {% if customer %}
                                        <a href="/account/logout" id="customer_logout_link">{{ 'header.account.logout' | t }}</a>
                                        {% else %}
                                        <a href="/account/login">{{ 'header.account.login' | t }}</a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% if section.settings.register %}
                                    {% if customer %}
                                    <li><a href="/account">{{ 'header.account.account' | t }}</a></li>
                                    {% else %}
                                    <li><a href="/account/register">{{ 'header.account.register' | t }}</a></li>
                                    {% endif %}
                                    {% endif %}
                                </ul>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% if settings.compare %}
                            {% if section.settings.compare %}
                            <li class="com-back"><a href="{% if settings.compare_page == blank %}# {% else %}/pages/{{settings.compare_page}}{% endif %}" class="{% if settings.compare_page == blank %} paira-compare-null{% endif %}"><i class="fa fa-balance-scale"></i></span><span class="compare"></span></a></li>
                            {% endif %}
                            {% endif %}
                            {% if settings.wishlist %}
                            {% if section.settings.wishlist %}
                            <li class="com-back">
                                <a href="{% if settings.wishlst_page == blank %}# {% else %}/pages/{{settings.wishlst_page}}{% endif %}" class="{% if settings.wishlst_page == blank %} paira-wish-null{% endif %}"><i class="fa fa-heart-o"></i></a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% if settings.currencies %}
                            {% if section.settings.currencies %}
                            {% comment %}
                              <li class="courenccy">
                                  <div class="dropdown">
                                      <button class="btn btn-sm" data-toggle="dropdown"><span class="paira-currency-symbol symbols"><i class="fa fa-{{ settings.default_currency | downcase }}"></i></span> <span class="paira-currency-text">{{ settings.default_currency }}</span> <i class="angle-down fa fa-angle-down"></i></button>
                                      {% include 'currencies-switcher' %}
                                  </div>
                              </li>
                            {% endcomment %}
                              <li class="dropdown cart-menu-body paira-cart-menu-body padding-right-0 cart-drop">
                                  {% include 'cart-dropdown' %}
                              </li>
                            {% else %}
                            <li style="display: none !important;">
                            {% include 'currencies-switcher' %}
                            </li>
                              
                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div style="display: none !important;">
    {% include 'currencies-switcher' %}
    </div>
    {% endif %}
</header>
{% if section.settings.language_check %}
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: '{{shop.locale}}', includedLanguages: '{{ section.settings.supported_language }}', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
    }
    $(function() {
        $('#google_translate_element').on("click", function () {
            $("iframe.goog-te-menu-frame").contents().find('body').attr('style', 'overflow-x: hidden;');
            $("iframe.goog-te-menu-frame").contents().find(".goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 *")
                    .css({
                        'color': '#544F4B',
                        'width':'100%'
                    });
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2-item-selected').css ('display', 'none');
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2').css ({"padding":"0","overflow-y":"auto"});
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2-item div').css('padding', '5px');
            $("iframe.goog-te-menu-frame").contents().find('table').css('padding', '10px');
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2-item').css('width', '100%');
            $("iframe.goog-te-menu-frame").contents().find('td').css('width', '100%');
            $("iframe.goog-te-menu-frame").contents().find(".goog-te-menu2-item div").hover(function () {
                $(this).css('background-color', 'white').find('span.text').css({"color":"#d9121f","text-decoration":"underline"});
            }, function () {
                $(this).css('background-color', 'white').find('span.text').css({"color":"#1a1c15","text-decoration":"none"});
            });
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2').css('border', 'none');
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2').css({
                'height': '100%',
                'width': '100%'
            });
        });
    });
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endif %}
<style>
    .geo-text p a{
    color: {{ section.settings.geo_text_color }} !important;
    }
    .header-social li a{
    color: {{ section.settings.geo_text_color }} !important;
    font-size: {{ section.settings.geo_text_font }}px
    }
    .header-social li a:hover {
    color: {{ section.settings.geo_text_color_h }} !important;
    }
    .geo-text p a:hover, .background-color a:hover, .menus .btn:hover, .background-color a:hover span {
    color: {{ section.settings.geo_text_color_h }} !important;
    text-decoration: underline;
    }
    .background-color ul li{
    color: {{ section.settings.geo_text_color | color_modify: 'alpha', 0.3 }} !important;
    }

    .header-top ,.header-top a, .header-top ul .btn, .header-top ul .btn.disabled, .header-top ul .btn:active{
    color: {{ section.settings.top_header_text_color }};
    }
    .header-top a:hover, .header-top ul .btn:hover span, .header-top ul .btn:hover i{
    color: {{ section.settings.top_header_text_hover_color }};
    }
    .search-frm input{
    background: {{ section.settings.search_bg_color }};
    border-color: {{ section.settings.search_bor_color }};
    color: {{ section.settings.search_text_color }};
    }
    .search-frm .input-group-btn:first-child>.btn, .search-frm .input-group-btn:first-child>.btn-group {
    background: {{ section.settings.search_bg_color }};
    color: {{ section.settings.search_text_color }};
    border-color: {{ section.settings.search_bor_color }};
    border-color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.12 }};
    }
    .compares .account-drop, .courenccy .symbols .fa, .com-back a{
    background: {{ section.settings.search_bg_color }};
    border-color: {{ section.settings.search_bor_color }};
    color: {{ section.settings.search_text_color }};
    }
    .compares .account-drop:hover, .courenccy:hover .symbols .fa, .com-back a:hover {
    background: {{ section.settings.search_bg_color_h }};
    border-color: {{ section.settings.search_bor_color_h }};
    color: {{ section.settings.search_text_color_h }};
    }
    .search-frm .search-btn {
    color: {{ section.settings.search_text_color }};
    }
    .search-frm .search-btn:hover {
    color: {{ section.settings.top_header_text_hover_color }};
    }
    .search-frm ::-webkit-input-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .search-frm ::-moz-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .search-frm :-ms-input-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .search-frm :-moz-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .goog-te-gadget-simple .goog-te-menu-value, .goog-te-gadget-simple .goog-te-menu-value span {
    color: {{ section.settings.geo_text_color }};
    }
    .goog-te-gadget-simple {
    font-size: {{ section.settings.geo_text_font }}px;
    }
    {% if section.settings.language_check == blank %}
    @media only screen and (max-width:767px) {
        header .logo-text {
            float: none !important;
            text-align: center;
            width: 100%;
            margin: 0;
        }
    }
    {% endif %}
</style>
{% schema %}
{
"name": "Header Style 4",
"settings": [
{
"type": "header",
"content": "Top Header"
},
{
"type": "checkbox",
"id": "welcome_message_notify_check",
"label": "Enable Top Header",
"default": true
},
{
"type": "color",
"id": "geo_text_bg",
"label": "Select Background Color",
"default": "#FFBE98"
},
{
"type": "color",
"id": "geo_text_color",
"label": "Select Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "geo_text_color_h",
"label": "Select Text Hover Color",
"default": "#000"
},
{
"type": "richtext",
"id": "geo_text",
"label": "Shipping Text",
"default": "<p>Special Offer: Get $50 Cash Back for First Order to</p>"
},
{
"type": "range",
"id": "geo_text_font",
"label": "Shipping Text Font Size",
"min": 12,
"max": 30,
"default": 12
},
{
"type": "header",
"content": "Social Links"
},
{
"type": "checkbox",
"id": "header_social_share",
"label": "Enable Social Links",
"default": true
},
{
"type": "header",
"content": "Language Setting"
},
{
"type": "checkbox",
"id": "language_check",
"label": "Enable Language",
"default": true
},
{
"type": "text",
"id": "supported_language",
"label": "Add Language",
"default": "en,hi,zh-CN,fr,de,it,es",
"info": "Use \",\" when add multiple language For ex: en,hi"
},
{
"type": "paragraph",
"content": "For copy ISO 639-1 code [Click Here](https:\/\/en.wikipedia.org\/wiki\/List_of_ISO_639-1_codes)"
},
{
"type": "header",
"content": "Middle Header"
},
{
"type": "checkbox",
"id": "header_top_check",
"label": "Enable Middle Header",
"default": true
},
{
"type": "color",
"id": "header_top_bg",
"label": "Select Background Color",
"default": "#fff"
},
{
"type": "color",
"id": "top_header_text_color",
"label": "Select Text Color",
"default": "#686868"
},
{
"type": "color",
"id": "top_header_text_hover_color",
"label": "Select Text Hover Color",
"default": "#000"
},
{
"type": "color",
"id": "search_bg_color",
"label": "Search Bar, Compare, User, Currency, Wishlist Background Color",
"default": "#fff"
},
{
"type": "color",
"id": "search_bor_color",
"label": "Search Bar, Compare, User, Currency, Wishlist Border Color",
"default": "#DCDCDC"
},
{
"type": "color",
"id": "search_text_color",
"label": "Search Bar, Compare, User, Currency, Wishlist Text Color",
"default": "#2E2E2E"
},
{
"type": "color",
"id": "search_bg_color_h",
"label": "Compare, User, Currency, Wishlist Hover Background Color",
"default": "#F26522"
},
{
"type": "color",
"id": "search_bor_color_h",
"label": "Compare, User, Currency, Wishlist Hover Border Color",
"default": "#F26522"
},
{
"type": "color",
"id": "search_text_color_h",
"label": "Compare, User, Currency, Wishlist Hover Text Color",
"default": "#fff"
},
{
"type": "header",
"content": "Logo"
},
{
"type": "checkbox",
"id": "site_logo",
"label": "Enable Logo",
"default": true
},
{
"type": "radio",
"id": "select_header_logo",
"label": "Select Logo",
"options": [
{
"value": "1",
"label": "Logo Image"
},
{
"value": "2",
"label": "Logo Text"
}
],
"default": "1"
},
{
"type": "image_picker",
"id": "logo",
"label": "Image",
"info": "Height: 45px recommended"
},
{
"type": "text",
"id": "header_logo_text",
"label": "Input Logo Text",
"default": "Logo"
},
{
"type": "color",
"id": "logo_text_color",
"label": "logo Text Color",
"default": "#000"
},
{
"type": "checkbox",
"id": "search",
"label": "Enable Search",
"default": true
},
{
"type": "checkbox",
"id": "currencies",
"label": "Enable Currency",
"default": true
},
{
"type": "checkbox",
"id": "compare",
"label": "Enable Compare",
"default": true
},
{
"type": "checkbox",
"id": "wishlist",
"label": "Enable Wishlist",
"default": true
},
{
"type": "checkbox",
"id": "login",
"label": "Enable Login",
"default": true
},
{
"type": "paragraph",
"content": "## If You Enable Login then must Enable Customer accounts."
},
{
"type": "checkbox",
"id": "register",
"label": "Enable Register",
"default": true
},
{
"type": "paragraph",
"content": "## If You Enable Register then must Enable Customer accounts."
}
]
}
{% endschema %}