<header data-section-id="{{ section.id }}" data-section-type="header-section" class="{{ section.id }}">
    {% if section.settings.welcome_message_notify_check %}
    <div class="background-color" style="background: {{ section.settings.geo_text_bg }};padding: 8px 0;">
        <div class="container-fluid padding-fixed">
            <div class="margin-clear geo-text pull-left hidden-xs" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ section.settings.geo_text }} <span class="paira-country-flag flag" style="display: none;"></span> <span class="paira-geo-country"></span></div>
            <marquee behavior="scroll" direction="left" class="margin-clear geo-text pull-left hidden-lg hidden-md hidden-sm" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ section.settings.geo_text }} <span class="paira-country-flag flag" style="display: none;"></span> <span class="paira-geo-country"></span></marquee>
            <div class="pull-right">
                <ul class="list-inline display-in-b margin-clear menus">
                    {% if shop.customer_accounts_enabled %}
                    {% if section.settings.login %}
                    <li class="hidden-xs">
                        {% if customer %}
                        <a href="/account/logout" id="customer_logout_link" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ 'header.account.logout' | t }}</a>
                        {% else %}
                        <a href="/account/login" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ 'header.account.login' | t }}</a>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% if section.settings.register %}
                    {% if customer %}
                    <li class="hidden-xs"><a href="/account" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ 'header.account.account' | t }}</a></li>
                    {% else %}
                    <li class="hidden-xs"><a href="/account/register" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px">{{ 'header.account.register' | t }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% if settings.currencies %}
                    {% if section.settings.currencies %}
                    <li class="courenccy hidden-xs">
                        <div class="dropdown">
                            <button class="btn btn-sm" data-toggle="dropdown" style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px"><span class="paira-currency-symbol"><i class="fa fa-{{ settings.default_currency | downcase }}"></i></span> <span class="paira-currency-text">{{ settings.default_currency }}</span> <i class="angle-down fa fa-angle-down"></i></button>
                            {% include 'currencies-switcher' %}
                        </div>
                    </li>
                    {% else %}
                    <li style="display: none !important;">
                    {% include 'currencies-switcher' %}
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if settings.compare %}
                    {% if section.settings.compare %}
                    <li class="hidden-xs"><a  style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px" href="{% if settings.compare_page == blank %}# {% else %}/pages/{{settings.compare_page}}{% endif %}" class="{% if settings.compare_page == blank %} paira-compare-null{% endif %}"><i class="fa fa-balance-scale margin-right-5"></i>{{ 'header.general.compare' | t }}</span><span class="compare"></span></a></li>
                    {% endif %}
                    {% endif %}
                    {% if settings.wishlist %}
                    {% if section.settings.wishlist %}
                    <li class="hidden-xs">
                        <a  style="color: {{ section.settings.geo_text_color }}; font-size: {{ section.settings.geo_text_font }}px" href="{% if settings.wishlst_page == blank %}# {% else %}/pages/{{settings.wishlst_page}}{% endif %}" class="{% if settings.wishlst_page == blank %} paira-wish-null{% endif %}"><i class="fa fa-heart-o margin-right-5"></i>{{ 'header.general.wishlist' | t }}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if section.settings.language_check %}
                    <li id="google_translate_element"></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <div style="display: none !important;">
    {% include 'currencies-switcher' %}
    </div>
    {% endif %}
    {% if section.settings.header_top_check %}
    <!--=================== Header Top Section ===================-->
    <div class="header-top" style="background: {{ section.settings.header_top_bg }}">
        <div class="container-fluid padding-fixed">
            <div class="row">
                <div class="col-md-12">
                    {% if section.settings.site_logo %}
                    <div class="logo-text pull-left">
                        {% if section.settings.select_header_logo == '1' %}
                        <a href="/">
                            <img src="{% if section.settings.logo == blank %}{{ 'logo.png' | asset_url }}{% else %}{{ section.settings.logo | img_url: 'master' }}{% endif %}" class="img-responsive"  alt="{{ shop.name }}">
                        </a>
                        {% else %}
                        <h2 class="margin-bottom-15 margin-top-15"><a href="/" style="color: {{ section.settings.logo_text_color }};">{{ section.settings.header_logo_text }}</a></h2>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="compare-cart-wishs pull-right">
                        <ul class="list-inline text-right margin-bottom-0 pull-left contact-number" {% if section.settings.phone == blank %}style="padding-top: 21px; padding-bottom: 22px;"{% endif %} {% if section.settings.time == blank %}style="padding-top: 22px; padding-bottom: 21px;"{% endif %}{% if section.settings.phone_heads == blank %}style="padding-top: 21px;padding-bottom: 22px;"{% endif %}>
                            {% if section.settings.phone_heads %}
                            <span>{{ section.settings.phone_heads_heading }}</span>
                            {% endif %}
                            <li class="full-width pull-left">
                                {% if section.settings.phone %}
                                <div class="phone">{% if section.settings.phone_icon %}<i class="fa fa-phone margin-right-5"></i><a href="mailto:{{ section.settings.tel_links }}">{% endif %}{{ section.settings.num_texts }}</a></div>
                                {% endif %}
                                {% if section.settings.time %}
                                <div class="mail">{% if section.settings.time_icon %}<i class="fa fa-envelope-o margin-right-5"></i> {% endif %}<a href="mailto:{{ section.settings.mail_links }}">{{ section.settings.dati_texts }}</a></div>
                                {% endif %}
                            </li>
                        </ul>
                        {% if section.settings.search %}
                        <div class="search-frm pull-left position-r hidden-xs">
                            <!--=================== Search Form ===================-->
                            <form class="navbar-form" action="/search">
                                <div class="form-group">
                                    <input type="text" name="q" class="form-control" autocomplete="off" id="instant-search" placeholder="{{ 'header.search.shopping_for' | t }}" value="{{ search.terms }}">
                                    <input type="hidden" class="header-search-input" name="type" value="product">
                                </div>
                                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                            <div class="instant-search-data" style="display: none">
                                <ul class="list-unstyled dropdown-menu"></ul>
                                <img src="{{ 'search-loading.gif' | asset_url }}" alt="Loading image" class="search-loading" style="display: none">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</header>
{% if section.settings.language_check %}
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: '{{shop.locale}}', includedLanguages: '{{ section.settings.supported_language }}', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
    }
    $(function() {
        $('#google_translate_element').on("click", function () {
            $("iframe.goog-te-menu-frame").contents().find('body').attr('style', 'overflow-x: hidden;');
            $("iframe.goog-te-menu-frame").contents().find(".goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 *")
                    .css({
                        'color': '#544F4B',
                        'width':'100%'
                    });
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2-item-selected').css ('display', 'none');
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2').css ({"padding":"0","overflow-y":"auto"});
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2-item div').css('padding', '5px');
            $("iframe.goog-te-menu-frame").contents().find('table').css('padding', '10px');
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2-item').css('width', '100%');
            $("iframe.goog-te-menu-frame").contents().find('td').css('width', '100%');
            $("iframe.goog-te-menu-frame").contents().find(".goog-te-menu2-item div").hover(function () {
                $(this).css('background-color', 'white').find('span.text').css({"color":"#d9121f","text-decoration":"underline"});
            }, function () {
                $(this).css('background-color', 'white').find('span.text').css({"color":"#1a1c15","text-decoration":"none"});
            });
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2').css('border', 'none');
            $("iframe.goog-te-menu-frame").contents().find('.goog-te-menu2').css({
                'height': '100%',
                'width': '100%'
            });
        });
    });
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endif %}
<style>
    .geo-text p a{
    color: {{ section.settings.geo_text_color }} !important;
    }
    .geo-text p a:hover, .background-color a:hover, .menus .btn:hover {
    color: {{ section.settings.geo_text_color_h }} !important;
    text-decoration: underline;
    }
    .background-color ul li{
    color: {{ section.settings.geo_text_color | color_modify: 'alpha', 0.3 }} !important;
    }

    .header-top ,.header-top a, .header-top ul .btn, .header-top ul .btn.disabled, .header-top ul .btn:active{
    color: {{ section.settings.top_header_text_color }};
    }
    .header-top a:hover, .header-top ul .btn:hover span, .header-top ul .btn:hover i{
    color: {{ section.settings.top_header_text_hover_color }};
    }
    .search-frm input{
    background: {{ section.settings.search_bg_color }};
    border-color: {{ section.settings.search_bg_color }};
    color: {{ section.settings.search_text_color }};
    }
    .search-frm .input-group-btn:first-child>.btn, .search-frm .input-group-btn:first-child>.btn-group {
    background: {{ section.settings.search_bg_color }};
    color: {{ section.settings.search_text_color }};
    border-color: {{ section.settings.search_bg_color }};
    border-color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.12 }};
    }
    .search-frm .search-btn {
    color: {{ section.settings.search_text_color }};
    }
    .search-frm .search-btn:hover {
    color: {{ section.settings.top_header_text_hover_color }};
    }
    .search-frm ::-webkit-input-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .search-frm ::-moz-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .search-frm :-ms-input-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .search-frm :-moz-placeholder{
    color: {{ section.settings.search_text_color | color_modify: 'alpha', 0.6 }} !important;
    }
    .goog-te-gadget-simple .goog-te-menu-value, .goog-te-gadget-simple .goog-te-menu-value span {
    color: {{ section.settings.geo_text_color }};
    }
    .goog-te-gadget-simple .goog-te-menu-value span:hover {
    color: {{ section.settings.geo_text_color_h }} !important;
    }
    .goog-te-gadget-simple {
    font-size: {{ section.settings.geo_text_font }}px;
    }
    {% if section.settings.search %}
    .contact-number {
    border-right: 1px solid {{ section.settings.top_header_text_color | color_modify: 'alpha', 0.2 }};
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    }
    {% endif %}
</style>
{% schema %}
{
"name": "Header Style 3",
"settings": [
{
"type": "header",
"content": "Top Header"
},
{
"type": "checkbox",
"id": "welcome_message_notify_check",
"label": "Enable Top Header",
"default": true
},
{
"type": "color",
"id": "geo_text_bg",
"label": "Select Background Color",
"default": "#333333"
},
{
"type": "color",
"id": "geo_text_color",
"label": "Select Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "geo_text_color_h",
"label": "Select Text Hover Color",
"default": "#F26522"
},
{
"type": "richtext",
"id": "geo_text",
"label": "Shipping Text",
"default": "<p>Special Offer: Get $50 Cash Back for First Order to</p>"
},
{
"type": "range",
"id": "geo_text_font",
"label": "Shipping Text Font Size",
"min": 12,
"max": 30,
"default": 13
},
{
"type": "checkbox",
"id": "currencies",
"label": "Enable Currency",
"default": true
},
{
"type": "checkbox",
"id": "compare",
"label": "Enable Compare",
"default": true
},
{
"type": "checkbox",
"id": "wishlist",
"label": "Enable Wishlist",
"default": true
},
{
"type": "checkbox",
"id": "login",
"label": "Enable Login",
"default": true
},
{
"type": "paragraph",
"content": "## If You Enable Login then must Enable Customer accounts."
},
{
"type": "checkbox",
"id": "register",
"label": "Enable Register",
"default": true
},
{
"type": "paragraph",
"content": "## If You Enable Register then must Enable Customer accounts."
},
{
"type": "header",
"content": "Language Setting"
},
{
"type": "checkbox",
"id": "language_check",
"label": "Enable Language",
"default": true
},
{
"type": "text",
"id": "supported_language",
"label": "Add Language",
"default": "en,hi,zh-CN,fr,de,it,es",
"info": "Use \",\" when add multiple language For ex: en,hi"
},
{
"type": "paragraph",
"content": "For copy ISO 639-1 code [Click Here](https:\/\/en.wikipedia.org\/wiki\/List_of_ISO_639-1_codes)"
},
{
"type": "header",
"content": "Middle Header"
},
{
"type": "checkbox",
"id": "header_top_check",
"label": "Enable Middle Header",
"default": true
},
{
"type": "color",
"id": "header_top_bg",
"label": "Select Background Color",
"default": "#fff"
},
{
"type": "color",
"id": "top_header_text_color",
"label": "Select Text Color",
"default": "#686868"
},
{
"type": "color",
"id": "top_header_text_hover_color",
"label": "Select Text Hover Color",
"default": "#000"
},
{
"type": "color",
"id": "search_bg_color",
"label": "Search Bar Background Color",
"default": "#F3F3F3"
},
{
"type": "color",
"id": "search_text_color",
"label": "Search Bar Text Color",
"default": "#2e2e2e"
},
{
"type": "header",
"content": "Logo"
},
{
"type": "checkbox",
"id": "site_logo",
"label": "Enable Logo",
"default": true
},
{
"type": "radio",
"id": "select_header_logo",
"label": "Select Logo",
"options": [
{
"value": "1",
"label": "Logo Image"
},
{
"value": "2",
"label": "Logo Text"
}
],
"default": "1"
},
{
"type": "image_picker",
"id": "logo",
"label": "Image"
},
{
"type": "text",
"id": "header_logo_text",
"label": "Input Logo Text",
"default": "Logo"
},
{
"type": "color",
"id": "logo_text_color",
"label": "logo Text Color",
"default": "#000"
},
{
"type": "header",
"content": "Phone Number & Mail"
},
{
"type": "checkbox",
"id": "phone_heads",
"label": "Enable Phone Number & Mail Heading",
"default": true
},
{
"type": "text",
"id": "phone_heads_heading",
"label": "Heading",
"default": "Help? Contact Us"
},
{
"type": "checkbox",
"id": "phone",
"label": "Enable Phone Number",
"default": true
},
{
"type": "checkbox",
"id": "phone_icon",
"label": "Enable Phone Icon",
"default": true
},
{
"type": "text",
"id": "num_texts",
"label": "Phone Number",
"default": "+0123456789"
},
{
"type": "text",
"id": "tel_links",
"label": "Phone Number Link",
"default": "1234567890"
},
{
"type": "checkbox",
"id": "time",
"label": "Enable Support Mail",
"default": true
},
{
"type": "checkbox",
"id": "time_icon",
"label": "Enable Mail Icon",
"default": true
},
{
"type": "text",
"id": "dati_texts",
"label": "Support Mail",
"default": "support@themetidy.com"
},
{
"type": "text",
"id": "mail_links",
"label": "Support Mail Link",
"default": "support@themetidy.com"
},
{
"type": "checkbox",
"id": "search",
"label": "Enable Search",
"default": true
}
]
}
{% endschema %}