<section>
  <div class="help_section">
    <div class="container">
      <div class="help_col">
        <div class="help_flex">
          <div class="help_left">
            {% if section.settings.text != blank %}
              <h5>{{ section.settings.text }}</h5>
            {% endif %}
            {% if section.settings.heading != blank %}
              <h2>{{ section.settings.heading }}</h2>
            {% endif %}
          </div>
          <div class="help_right">
            {% if section.settings.desc != blank %}
              <div>{{ section.settings.desc }}</div>
            {% endif %}
            <div class="social_icon">
              <ul class="list-inline margin-clear">
                {% if settings.twitter_footer %}
                  <li
                    class="margin-bottom-0"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ 'footer.social_name.twitter' | t }}"
                  >
                    <a href="{{ settings.twitter_link }}" target="_blank">
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="22"
                          height="23"
                          viewBox="0 0 18 19"
                          fill="none"
                        >
                          <g clip-path="url(#clip0_273_464)">
                            <path d="M5.90625 16.5654C4.82292 16.5654 3.80208 16.4196 2.84375 16.1279C1.88542 15.8363 1.03125 15.4404 0.28125 14.9404C0.03125 14.7738 -0.0520833 14.5863 0.03125 14.3779C0.114583 14.1696 0.28125 14.0654 0.53125 14.0654L1.28125 14.1904C2.44792 14.1904 3.53125 13.8988 4.53125 13.3154C3.94792 13.1488 3.42708 12.8363 2.96875 12.3779C2.51042 11.9196 2.19792 11.3988 2.03125 10.8154C1.94792 10.6488 1.94792 10.4821 2.03125 10.3154L2.28125 10.1904C1.78125 9.8571 1.38542 9.4196 1.09375 8.87793C0.802083 8.33626 0.65625 7.77376 0.65625 7.19043V7.06543C0.65625 6.9821 0.739583 6.87793 0.90625 6.75293C1.07292 6.62793 1.19792 6.6071 1.28125 6.69043H1.40625C0.989583 6.1071 0.78125 5.44043 0.78125 4.69043C0.78125 3.94043 0.947917 3.2321 1.28125 2.56543C1.36458 2.4821 1.46875 2.44043 1.59375 2.44043C1.71875 2.44043 1.86458 2.4821 2.03125 2.56543C2.78125 3.56543 3.71875 4.3571 4.84375 4.94043C5.96875 5.52376 7.15625 5.89876 8.40625 6.06543V5.69043C8.40625 4.94043 8.57292 4.27376 8.90625 3.69043C9.23958 3.1071 9.71875 2.62793 10.3438 2.25293C10.9688 1.87793 11.6146 1.69043 12.2812 1.69043C13.3646 1.69043 14.2812 2.06543 15.0312 2.81543C15.6146 2.7321 16.2396 2.4821 16.9062 2.06543C17.0729 1.9821 17.2396 2.00293 17.4062 2.12793C17.5729 2.25293 17.6146 2.44043 17.5312 2.69043C17.4479 2.94043 17.2812 3.2321 17.0312 3.56543L17.4062 3.44043C17.5729 3.3571 17.7396 3.39876 17.9062 3.56543C18.0729 3.7321 18.0729 3.89876 17.9062 4.06543C17.4896 4.64876 16.9479 5.2321 16.2812 5.81543V6.06543C16.2812 7.81543 15.8646 9.50293 15.0312 11.1279C14.1979 12.7529 12.9896 14.0654 11.4062 15.0654C9.82292 16.0654 7.98958 16.5654 5.90625 16.5654ZM2.15625 14.9404C3.23958 15.4404 4.44792 15.6904 5.78125 15.6904C7.69792 15.6904 9.38542 15.2321 10.8438 14.3154C12.3021 13.3988 13.4271 12.2113 14.2188 10.7529C15.0104 9.2946 15.4062 7.77376 15.4062 6.19043V5.81543C15.4062 5.64876 15.4479 5.4821 15.5312 5.31543L16.2812 4.69043L15.6562 4.81543C15.4896 4.89876 15.3646 4.89876 15.2812 4.81543C15.1979 4.7321 15.1354 4.6071 15.0938 4.44043C15.0521 4.27376 15.1562 4.12793 15.4062 4.00293C15.6562 3.87793 15.8646 3.69043 16.0312 3.44043C15.6146 3.6071 15.2396 3.69043 14.9062 3.69043C14.8229 3.77376 14.6979 3.7321 14.5312 3.56543C13.9479 2.9821 13.2188 2.69043 12.3438 2.69043C11.4688 2.69043 10.7188 2.9821 10.0938 3.56543C9.46875 4.14876 9.15625 4.8571 9.15625 5.69043C9.15625 5.94043 9.17708 6.1696 9.21875 6.37793C9.26042 6.58626 9.26042 6.7321 9.21875 6.81543C9.17708 6.89876 9.07292 6.94043 8.90625 6.94043C7.57292 6.8571 6.28125 6.5446 5.03125 6.00293C3.78125 5.46126 2.69792 4.69043 1.78125 3.69043C1.61458 3.94043 1.53125 4.2946 1.53125 4.75293C1.53125 5.21126 1.65625 5.6696 1.90625 6.12793C2.15625 6.58626 2.48958 6.94043 2.90625 7.19043C3.15625 7.3571 3.23958 7.50293 3.15625 7.62793C3.07292 7.75293 3.01042 7.8571 2.96875 7.94043C2.92708 8.02376 2.82292 8.06543 2.65625 8.06543C2.40625 8.06543 2.07292 7.9821 1.65625 7.81543C1.73958 8.39876 2.01042 8.9196 2.46875 9.37793C2.92708 9.83626 3.44792 10.1071 4.03125 10.1904C4.11458 10.1904 4.19792 10.2321 4.28125 10.3154C4.36458 10.3988 4.40625 10.5029 4.40625 10.6279C4.40625 10.7529 4.36458 10.8571 4.28125 10.9404C4.19792 11.0238 4.11458 11.0654 4.03125 11.0654C3.61458 11.1488 3.28125 11.1904 3.03125 11.1904C3.28125 11.6904 3.63542 12.0654 4.09375 12.3154C4.55208 12.5654 5.07292 12.6904 5.65625 12.6904C5.73958 12.6904 5.82292 12.7113 5.90625 12.7529C5.98958 12.7946 6.05208 12.8988 6.09375 13.0654C6.13542 13.2321 6.07292 13.3571 5.90625 13.4404C4.73958 14.3571 3.48958 14.8571 2.15625 14.9404Z" fill="#00ACEE"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_273_464">
                              <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0 18.1904)"/>
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.facebook_footer %}
                  <li
                    class="margin-bottom-0"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ 'footer.social_name.facebook' | t }}"
                  >
                    <a href="{{ settings.facebook_link }}" target="_blank">
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="22"
                          height="23"
                          viewBox="0 0 18 19"
                          fill="none"
                        >
                          <g clip-path="url(#clip0_273_466)">
                            <path d="M6 18.1904H3.875C3.625 18.1904 3.39583 18.0863 3.1875 17.8779C2.97917 17.6696 2.875 17.4404 2.875 17.1904V10.3154H1C0.75 10.3154 0.520833 10.2113 0.3125 10.0029C0.104167 9.7946 0 9.56543 0 9.31543V7.31543C0 7.06543 0.104167 6.83626 0.3125 6.62793C0.520833 6.4196 0.75 6.31543 1 6.31543H2.875V4.44043C2.875 3.19043 3.20833 2.1696 3.875 1.37793C4.54167 0.586263 5.45833 0.19043 6.625 0.19043H8.25C8.58333 0.19043 8.83333 0.294596 9 0.50293C9.16667 0.711263 9.25 0.94043 9.25 1.19043V3.56543C9.25 3.81543 9.16667 4.0446 9 4.25293C8.83333 4.46126 8.58333 4.56543 8.25 4.56543H7V6.31543H8.75C9.08333 6.31543 9.33333 6.44043 9.5 6.69043C9.66667 6.94043 9.70833 7.2321 9.625 7.56543L9.375 9.44043C9.29167 9.69043 9.16667 9.89876 9 10.0654C8.83333 10.2321 8.625 10.3154 8.375 10.3154H7V17.1904C7 17.4404 6.91667 17.6696 6.75 17.8779C6.58333 18.0863 6.33333 18.1904 6 18.1904ZM1 7.19043C1 7.19043 0.958333 7.19043 0.875 7.19043V7.31543V9.31543C0.875 9.39876 0.916667 9.44043 1 9.44043H3.25C3.41667 9.44043 3.54167 9.50293 3.625 9.62793C3.70833 9.75293 3.75 9.8571 3.75 9.94043V17.1904C3.75 17.2738 3.79167 17.3154 3.875 17.3154H6L6.125 17.1904V9.94043C6.125 9.77376 6.16667 9.64876 6.25 9.56543C6.33333 9.4821 6.45833 9.44043 6.625 9.44043H8.375C8.45833 9.44043 8.5 9.39876 8.5 9.31543L8.875 7.44043V7.19043H8.75H6.625C6.54167 7.19043 6.45833 7.14876 6.375 7.06543C6.29167 6.9821 6.25 6.8571 6.25 6.69043V4.69043C6.25 4.3571 6.3125 4.1071 6.4375 3.94043C6.5625 3.77376 6.79167 3.69043 7.125 3.69043H8.375L8.5 3.56543V1.19043C8.5 1.1071 8.45833 1.06543 8.375 1.06543H6.625C5.79167 1.06543 5.10417 1.37793 4.5625 2.00293C4.02083 2.62793 3.75 3.44043 3.75 4.44043V6.69043C3.75 6.8571 3.70833 6.9821 3.625 7.06543C3.54167 7.14876 3.45833 7.19043 3.375 7.19043H1Z" fill="#0000FF"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_273_466">
                              <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0 18.1904)"/>
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.instagram_footer %}
                  <li
                    class="margin-bottom-0"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="   {{ 'footer.social_name.instagram' | t }}"
                  >
                    <a href="{{ settings.instagram_link }}" target="_blank">
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="22"
                          height="23"
                          viewBox="0 0 18 19"
                          fill="none"
                        >
                          <g clip-path="url(#clip0_273_468)">
                            <path d="M9 5.06543C8.25 5.06543 7.5625 5.25293 6.9375 5.62793C6.3125 6.00293 5.8125 6.50293 5.4375 7.12793C5.0625 7.75293 4.875 8.44043 4.875 9.19043C4.875 9.94043 5.0625 10.6279 5.4375 11.2529C5.8125 11.8779 6.3125 12.3779 6.9375 12.7529C7.5625 13.1279 8.25 13.3154 9 13.3154C9.75 13.3154 10.4375 13.1279 11.0625 12.7529C11.6875 12.3779 12.1875 11.8779 12.5625 11.2529C12.9375 10.6279 13.125 9.94043 13.125 9.19043C13.125 8.44043 12.9375 7.75293 12.5625 7.12793C12.1875 6.50293 11.6875 6.00293 11.0625 5.62793C10.4375 5.25293 9.75 5.06543 9 5.06543ZM9 12.4404C8.08333 12.4404 7.3125 12.1279 6.6875 11.5029C6.0625 10.8779 5.75 10.1071 5.75 9.19043C5.75 8.27376 6.0625 7.50293 6.6875 6.87793C7.3125 6.25293 8.08333 5.94043 9 5.94043C9.91667 5.94043 10.6875 6.25293 11.3125 6.87793C11.9375 7.50293 12.25 8.27376 12.25 9.19043C12.25 10.1071 11.9375 10.8779 11.3125 11.5029C10.6875 12.1279 9.91667 12.4404 9 12.4404ZM13.625 2.81543C13.2917 2.81543 13 2.94043 12.75 3.19043C12.5 3.44043 12.375 3.7321 12.375 4.06543C12.375 4.39876 12.5 4.6696 12.75 4.87793C13 5.08626 13.2917 5.19043 13.625 5.19043C13.9583 5.19043 14.25 5.08626 14.5 4.87793C14.75 4.6696 14.875 4.39876 14.875 4.06543C14.875 3.7321 14.75 3.44043 14.5 3.19043C14.25 2.94043 13.9583 2.81543 13.625 2.81543ZM13.5 0.19043H4.5C3.66667 0.19043 2.91667 0.398763 2.25 0.81543C1.58333 1.2321 1.04167 1.77376 0.625 2.44043C0.208333 3.1071 0 3.8571 0 4.69043V13.8154C0 14.5654 0.208333 15.2946 0.625 16.0029C1.04167 16.7113 1.58333 17.2529 2.25 17.6279C2.91667 18.0029 3.66667 18.1904 4.5 18.1904H13.625C14.375 18.1904 15.1042 17.9821 15.8125 17.5654C16.5208 17.1488 17.0625 16.6071 17.4375 15.9404C17.8125 15.2738 18 14.5238 18 13.6904V4.69043C18 3.8571 17.7917 3.1071 17.375 2.44043C16.9583 1.77376 16.4167 1.2321 15.75 0.81543C15.0833 0.398763 14.3333 0.19043 13.5 0.19043ZM17.125 13.6904C17.125 14.6904 16.7708 15.5446 16.0625 16.2529C15.3542 16.9613 14.5417 17.3154 13.625 17.3154H4.5C3.5 17.3154 2.64583 16.9821 1.9375 16.3154C1.22917 15.6488 0.875 14.8154 0.875 13.8154V4.69043C0.875 3.69043 1.22917 2.83626 1.9375 2.12793C2.64583 1.4196 3.5 1.06543 4.5 1.06543H13.625C14.625 1.06543 15.4583 1.4196 16.125 2.12793C16.7917 2.83626 17.125 3.69043 17.125 4.69043V13.6904Z" fill="#D62976"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_273_468">
                              <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0 18.1904)"/>
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </a>
                  </li>
                {% endif %}
                {% if settings.youtube_footer %}
                  <li
                    class="margin-bottom-0"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{{ 'footer.social_name.youtube' | t }}"
                  >
                    <a href="{{ settings.youtube_link }}" target="_blank">
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="22"
                          height="23"
                          viewBox="0 0 18 19"
                          fill="none"
                        >
                          <g clip-path="url(#clip0_273_472)">
                            <path d="M12.5558 9.73298C12.7567 9.61914 12.8571 9.43834 12.8571 9.19057C12.8571 8.9428 12.7567 8.762 12.5558 8.64816L7.41295 5.43387C7.20536 5.29994 6.98772 5.29325 6.76004 5.41378C6.53906 5.53432 6.42857 5.72182 6.42857 5.97628V12.4049C6.42857 12.6593 6.53906 12.8468 6.76004 12.9674C6.86719 13.0209 6.97098 13.0477 7.07143 13.0477C7.20536 13.0477 7.3192 13.0142 7.41295 12.9473L12.5558 9.73298ZM17.99 7.68387C17.99 7.68387 17.9916 7.77427 17.995 7.95508C17.9983 8.13588 18 8.54771 18 9.19057C18 9.83343 17.9967 10.3357 17.99 10.6973C17.9833 11.0589 17.9548 11.5159 17.9046 12.0684C17.8544 12.6208 17.779 13.1147 17.6786 13.5499C17.5714 14.0388 17.3404 14.4506 16.9855 14.7854C16.6306 15.1203 16.2154 15.3145 15.74 15.368C14.2533 15.5354 12.0067 15.6191 9 15.6191C5.9933 15.6191 3.74665 15.5354 2.26004 15.368C1.7846 15.3145 1.36775 15.1203 1.00949 14.7854C0.651228 14.4506 0.418527 14.0388 0.311384 13.5499C0.217634 13.1147 0.145647 12.6208 0.0954241 12.0684C0.0452009 11.5159 0.0167411 11.0589 0.0100446 10.6973C0.00334821 10.3357 0 9.83343 0 9.19057C0 8.54771 0.00334821 8.04548 0.0100446 7.68387C0.0167411 7.32227 0.0452009 6.86523 0.0954241 6.31278C0.145647 5.76032 0.220982 5.26646 0.321429 4.83119C0.428571 4.34236 0.659598 3.93052 1.01451 3.5957C1.36942 3.26088 1.7846 3.06669 2.26004 3.01311C3.74665 2.8457 5.9933 2.762 9 2.762C12.0067 2.762 14.2533 2.8457 15.74 3.01311C16.2154 3.06669 16.6323 3.26088 16.9905 3.5957C17.3488 3.93052 17.5815 4.34236 17.6886 4.83119C17.7824 5.26646 17.8544 5.76032 17.9046 6.31278C17.9548 6.86523 17.9833 7.32227 17.99 7.68387Z" fill="#FF0000"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_273_472">
                              <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0 18.1904)"/>
                            </clipPath>
                          </defs>
                        </svg>
                      </span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-md-12 padding-clear">
  {% if section.settings.contact_google_map_check %}
    <!-- =================== Google Map =================== -->
    <div class="paira-gap-4 paira-gap-3">
      <div id="googleMap" style="height: 500px;"></div>
    </div>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js{% if section.settings.map_api_key != '' %}?key={{ section.settings.map_api_key }}{% endif %}"
    ></script>
    <script>
      if($("#googleMap").length) {
          var locations = [
              {% if section.settings.map_point_place1 != '' %}
          ['{{section.settings.map_description1}}', {{section.settings.map_point_place1}}, 1],
          {% endif %}
          {% if section.settings.map_point_place2 != '' %}
          ['{{section.settings.map_description2}}', {{section.settings.map_point_place2}}, 2],
          {% endif %}
          {% if section.settings.map_point_place3 != '' %}
          ['{{section.settings.map_description3}}', {{section.settings.map_point_place3}}, 3],
          {% endif %}
          {% if section.section.settings.map_point_place4 != '' %}
          ['{{section.settings.map_description4}}', {{section.settings.map_point_place4}}, 4],
          {% endif %}
          {% if section.settings.map_point_place5 != '' %}
          ['{{section.settings.map_description5}}', {{section.settings.map_point_place5}}, 5],
          {% endif %}
          {% if section.settings.map_point_place6 != '' %}
          ['{{section.settings.map_description6}}', {{section.settings.map_point_place6}}, 6],
          {% endif %}
          {% if section.settings.map_point_place7 != '' %}
          ['{{section.settings.map_description7}}', {{section.settings.map_point_place7}}, 7],
          {% endif %}
      ];
          var map = new google.maps.Map(document.getElementById('googleMap'), {
              zoom: 14,
              center: new google.maps.LatLng({{section.settings.map_point_place1}}),
          styles: [
              {
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#f5f5f5"
                      }
                  ]
              },
              {
                  "elementType": "labels.icon",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#616161"
                      }
                  ]
              },
              {
                  "elementType": "labels.text.stroke",
                  "stylers": [
                      {
                          "color": "#f5f5f5"
                      }
                  ]
              },
              {
                  "featureType": "administrative.land_parcel",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#bdbdbd"
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#eeeeee"
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#757575"
                      }
                  ]
              },
              {
                  "featureType": "poi.park",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#e5e5e5"
                      }
                  ]
              },
              {
                  "featureType": "poi.park",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#9e9e9e"
                      }
                  ]
              },
              {
                  "featureType": "road",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#ffffff"
                      }
                  ]
              },
              {
                  "featureType": "road.arterial",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#757575"
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#dadada"
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#616161"
                      }
                  ]
              },
              {
                  "featureType": "road.local",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#9e9e9e"
                      }
                  ]
              },
              {
                  "featureType": "transit.line",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#e5e5e5"
                      }
                  ]
              },
              {
                  "featureType": "transit.station",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#eeeeee"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#c9c9c9"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#9e9e9e"
                      }
                  ]
              }
          ]
      }),
          infowindow = new google.maps.InfoWindow(),
                  marker, i;
          for (i = 0; i < locations.length; i++) {
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: map
              });
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                  return function() {
                      infowindow.setContent(locations[i][0]);
                      infowindow.open(map, marker);
                  }
              })(marker, i));
          }
      }
    </script>
  {% endif %}
</div>

{% schema %}
{
  "name": "help_section",
  "settings": [
    {
      "type":"text",
      "id":"text",
      "label":"Add Title"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"Add Heading"
    },
    {
      "type":"richtext",
      "id":"desc",
      "label":"Add Description"
    },
    {
      "type": "checkbox",
      "id": "contact_google_map_check",
      "label": "Enable Widget",
      "default": true
      },
      {
      "type": "text",
      "id": "map_api_key",
      "label": "Google Map Api Key"
    },
    {
"type": "text",
"id": "map_point_place1",
"label": "Coordinate 1",
"default": "23.545002, 89.172516"
},
{
"type": "text",
"id": "map_description1",
"label": "Coordinate Description 1",
"default": "Jhenidah, Bangladesh"
},
{
"type": "text",
"id": "map_point_place2",
"label": "Coordinate 2",
"default": "23.545201, 89.165655"
},
{
"type": "text",
"id": "map_description2",
"label": "Coordinate Description 2",
"default": "Enpek, Bangladesh"
},
{
"type": "text",
"id": "map_point_place3",
"label": "Coordinate 3",
"default": "23.537035, 89.174420"
},
{
"type": "text",
"id": "map_description3",
"label": "Coordinate Description 3",
"default": "paira, Bangladesh"
},
{
"type": "text",
"id": "map_point_place4",
"label": "Coordinate 4",
"default": "23.542593, 89.168170"
},
{
"type": "text",
"id": "map_description4",
"label": "Coordinate Description 4",
"default": "Eco, Bangladesh"
},
{
"type": "text",
"id": "map_point_place5",
"label": "Coordinate 5"
},
{
"type": "text",
"id": "map_description5",
"label": "Coordinate Description 5"
},
{
"type": "text",
"id": "map_point_place6",
"label": "Coordinate 6"
},
{
"type": "text",
"id": "map_description6",
"label": "Coordinate Description 6"
},
{
"type": "text",
"id": "map_point_place7",
"label": "Coordinate 7"
},
{
"type": "text",
"id": "map_description7",
"label": "Coordinate Description 7"
}
  ],
  "presets": [
    {
      "name":"Help Section"
    }
  ]
}
{% endschema %}
