{% layout none %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    <title>{{ shop.name }}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    {{ content_for_header }}
</head>
<body>
<div class="overly"></div>
<div id='container'>
    <div class="table">
        <div id='login'>
            <div>
                <h1>{{ settings.pass_head }}</h1>
                <div class="paragraph">
                    {% if shop.password_message and shop.password_message != '' %}
                    {{ shop.password_message }}
                    {% else %}
                    {{ settings.pass_paras }}
                    {% endif %}
                </div>
            </div>
            {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <div class="password-input">
                <input type='password' name='password' id='password' autofocus placeholder="Enter store using password.." />
                <div class="actions">
                    <input class="btn" name="commit" type="submit" value="Enter" />
                </div>
            </div>
            {% endform %}
        </div>
        <div id='footer'>
            {% if settings.onner_check %}
            <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
            {% endif %}
            {% if settings.powered_check %}
            <div id='powered'>
                This store is powered by <img src="{{ 'shopify.png' | asset_url }}" alt=""><a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('password').focus();
</script>
</body>
</html>
<style>
    {% assign paragraph_fonts = settings.paragraph_fonts %}
    {% assign heading_fonts = settings.heading_fonts %}
    {{ paragraph_fonts | font_face }}
    {{ heading_fonts | font_face }}
    * {
        margin: 0;
        padding: 0;
    }
    .table{
        margin-top: 16%;
    }
    .password-input {
        position: relative;
    }
    img {
        border: 0;
    }
    body {
        margin: 0;
    font-family: {{ settings.heading_fonts.family }};
    color: #fff;
    background: url({% if settings.pass_img == blank %}{{ 'password.jpg' | asset_url }}{% else %}{{ settings.pass_img | img_url: 'master' }}{% endif %}) no-repeat;
    text-align: center;
    }
    h1,h2,h3,h4,h5,h6 {
        color: #fff;
        margin: 5px 0 10px 0;
        font-weight: {{ settings.heading_fonts.weight }};
    }
    h3,h4,h5,h6 {
        font-weight: {{ settings.heading_fonts.weight }};
    }
    a {
        color: #fff;
    }
    a:hover {
        color: #F26522;
    }
    p {
        color: #fff;
        margin-bottom: 13px;
        font-size: 14px;
    }
    ul, ol {
        margin-bottom: 13px;
        margin-left: 15px;
    }
    ol {
        margin-left: 25px;
    }
    input.btn {
        font-weight: {{ settings.heading_fonts.weight }};
        cursor: pointer;
        border: 1px solid #F26522;
        background-color: #F26522;
        padding: 0 40px;
        color: #fff;
        height: 42px;
        float: left;
        position: absolute;
        top: 0;
        right: -22px;
    }
    input.btn:active, input.btn:focus, input.btn:hover {
        background: #333;
        border: 1px solid #333;
        color: #fff;
        outline: 0;
    }
    #container {
        width: 100%;
        margin: 50px auto 0 auto;
        position: relative;
        z-index: 999999;
    }
    #login {
        background: transparent;
        border: none;
        margin: 50px auto 0 auto;
        padding: 30px 0;
        width: 100%;
    }
    #login h1 {
        margin: 0;
        text-align: center;
        line-height: 30px;
        font-size: 36px;
        font-weight: 600;
        padding: 0 15px;
    }
    #login .default-text {
        font-family: serif;
        font-style: italic;
        margin-bottom: 1.5em;
        font-size: 17px;
        display: block;
        text-align: center;
        margin-top: 33px;
    }
    form#login_form {
        margin-top: 30px;
        margin-bottom: 35px;
        margin: 0 auto;
        width: 30%;
        position: relative;
    }
    #login_form #password {
        font-size: 14px;
        padding: 0 10px;
        border: 1px solid #fff;
        outline: none;
        background: transparent;
        width: 100%;
        height: 40px;
        color: #fff;
        float: left;
        margin-right: 5px;
        position: relative;
    }
    #footer {
        margin-top: 15px;
        font-size: 13px;
        text-align: center;
    }
    #powered {
        display: block;
        margin-top: 15px;
    }
    #powered a {
        background-repeat: no-repeat;
        text-decoration: none;
    }
    #powered img{
        vertical-align: sub;
        margin-right: 2px;
    }
    #powered a:hover {
        text-decoration: underline;
    }
    .errors {
        background: #feebeb;
        padding: 0 0 3px 0;
        font-size: 15px;
        color: #7e1412;
        margin-bottom: 15px;
        display: block;
        width: 100%;
    }
    .errors ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .center {
        text-align: center;
        display: block;
        font-size: 17px;
    }
    .overly{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
    }
    .paragraph {
        width: 30%;
        margin: 20px auto;
        font-size: 18px;
        line-height: 1.4;
    }
    ::-webkit-input-placeholder {
        color: #eee;
    }
    ::-moz-placeholder {
        color: #eee;
    }
    :-ms-input-placeholder {
        color: #eee;
    }
    :-moz-placeholder {
        color: #eee;
    }
    #footer{
        margin-top: 20px;
        float: left;
        width: 100%;
    }
    /* ===========================================================
        Screen Min Width 1200px
    ============================================================ */
    @media (min-width: 1200px) and (max-width: 1399px) {
        .paragraph {
            width: 40%;
        }
        form#login_form {
            width: 45%;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .paragraph {
            width: 50%;
        }
        form#login_form {
            width: 50%;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        #login h1 {
            font-size: 30px;
        }
        .paragraph {
            width: 70%;
        }
        form#login_form {
            width: 60%;
        }
    }
    @media only screen and (max-width:767px) {
        #login h1 {
            line-height: 1;
            font-size: 30px;
        }
        .paragraph {
            width: 95%;
            font-size: 16px;
        }
        form#login_form {
            width: 90%;
            margin-left: 14px;
        }
    }
    @media only screen and (max-width:480px) {
        #login h1 {
            line-height: 1.3;
            font-size: 25px;
        }

        .paragraph {
            font-size: 12px;
        }

        form#login_form {
            width: 87%;
        }

        #login_form #password {
            font-size: 12px;
        }
    }
    @media only screen and (max-width:320px) {
        #login h1 {
            line-height: 1.4;
            font-size: 21px;
        }
        form#login_form {
            width: 85%;
        }
    }
</style>
